.avatar-card {
  max-width: 200px;
  padding: 0;
}
.header-image {
  background-image: url("https://public.superjob.ru/images/clients_logos.ru/2749469_942f8b4c1454c702538ffde0b368092d.jpg");
  background-size: cover;
}
