:host {
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.flexible-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexible-field {
  flex: 1 50%;
}

.actions {
  width: 100%;
}
